async-lru==1.0.2
click==7.1.2
flake8==3.8.4
Flask==1.1.2
Flask-Cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mccabe==0.6.1
psycopg2==2.8.6
pyaes==1.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
Pyrogram==1.0.7
PySocks==1.7.1
pytz==2020.1
six==1.15.0
TgCrypto==1.2.1
toml==0.10.1
Werkzeug==1.0.1